<section>
  <h1><%= link_to @movie.title, movie_path(@review.movie) %></h1>
  <p><%= link_to @review.user.name, @review.user %></p>
  <p><%= pluralize @review.stars, "Star" %></p>
  <p><%= @review.comment %></p>

</section>
